form{
  padding-top: 4%;
  padding-left: 2%;
  padding-right: 3%;
  padding-bottom: 6%;
  border-bottom: 2px solid dimgrey;
}

label{
  color: dimgrey;
}

.form-control {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .form-check-input {
    margin-bottom: 10px;
  }
  
  .btn-primary {
    background-color: #068ED0;
    color: #fff;
  }

  @media(max-width: 500px){
    form{
      padding-right: 0px;
    }
}
