form{
  background-color: aliceblue;
  padding-top: 3%;
  padding-left: 2%;
  padding-right: 3%;
  height: auto;
}

label{
  color: dimgrey;
}

.form-control {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .form-check-input {
    margin-bottom: 10px;
  }
  
  .btn-primary {
    background-color: #068ED0;
    color: #fff;
  }
