header{
    grid-area: header;
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: #068ED0;
    color: white;
    width: 100%;
    top: 0;
    left: 0;
    height: 10%;
    position: fixed;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
}

#logo{
    padding-left: 1%;
    height: 100%;
}

@media(max-width: 500px){
    header{
        height: 6%;
    }
#logo{
    height: 80%;
}
}