body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-rows: 10% 1fr 8%;
    overflow-y: auto;
    overflow-x: hidden;
}

.erro {
    position: absolute;
    color: red;
    font-weight: bold;
    background-color: #eaf7e3;
    padding: 10px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: normal;
    min-width: 320px;
    max-width: 400px;
    word-wrap: break-word;
  }